# System files
.DS_Store
Thumbs.db
*.log

# IDEs
.idea/
.vscode/

# Project files
.github/
lib/
CHANGELOG.md
CODE_OF_CONDUCT.md
SECURITY.md
CONTRIBUTING.md

# For development
.git/
.terserrc
.eslintignore
.eslintrc.json
.prettierignore
.prettierrc
.editorconfig
tsconfig.json
